<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Employee</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            {% if error %}
            <div class="alert alert-danger">
            {{ error }}
            </div>
            {% endif %}
            <div class="text-center text-success">
                <h1>Thêm nhân viên</h1>
            </div>
            <form method="POST" action="/employee/add">
                <div class="form-group">
                    <label for="inputEmpID">Mã nhân viên</label>
                    <input type="text" class="form-control" id="inputEmpID" name="emp_id" placeholder="Mã nhân viên...">
                    <label for="inputName">Tên</label>
                    <input type="text" class="form-control" id="inputName" name="name" placeholder="Tên nhân viên...">
                    <label for="inputSex">Giới tính</label>
                    <select class="form-control" id="inputSex" name="sex">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other...</option>
                    </select>
                    <label for="inputBirth">Ngày sinh</label>
                    <input type="date" class="form-control" id="inputBirth" name="birth" placeholder="mm/dd/yyyy">
                    <label for="inputRole">Chức vụ</label>
                    <input type="text" class="form-control" id="inputRole" name="role" placeholder="Chức vụ...">
                    <label for="inputPos">Vị trí</label>
                    <input type="text" class="form-control" id="inputPos" name="pos" placeholder="Vị trí...">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email...">
                    <label for="inputPhone">Số điện thoại</label>
                    <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="Số điện thoại...">
                    <input type="submit" class="btn btn-danger" value="Thêm">
                </div>
            </form>
        </div>
    </body>
</html>